.background-red {
  background-color: red;
}

.background-blue {
  background-color: blue;
}

.background-green {
  background-color: green;
}

.background-purple {
  background-color: purple;
}

.background-yellow {
  background-color: yellow;
}

.background-white {
  background-color: white;
}