body {
  margin: 0;
  padding: 0;
}

input {
  border: 0;
}

input:focus {
  outline: none;
}

.eli-position-absolute {
  position: absolute
}

.eli-position-relative {
  position: relative
}

.eli-w-full {
  width: 100%;
}

.eli-w-\[24px\] {
  width: 24px;
}

.eli-w-\[28px\] {
  width: 28px;
}

.eli-w-\[32px\] {
  width: 32px;
}

.eli-w-\[500px\] {
  width: 500px;
}

.eli-h-full {
  height: 100%;
}

.eli-h-\[24px\] {
  height: 24px;
}

.eli-h-\[28px\] {
  height: 28px;
}

.eli-h-\[30px\] {
  height: 30px;
}

.eli-h-\[32px\] {
  height: 32px;
}

.eli-h-\[40px\] {
  height: 45px;
}

.eli-h-\[50px\] {
  height: 50px;
}

.eli-h-\[72px\] {
  height: 72px;
}

.eli-flex {
  display: flex;
}

.eli-flex-direction-column {
  flex-direction: column;
}

.eli-flex-space-between {
  justify-content: space-between;
}

.eli-flex-align-items-center {
  align-items: center;
}

.eli-mt-\[3px\] {
  margin-top: 3px;
}

.eli-mt-\[4px\] {
  margin-top: 4px;
}

.eli-mt-\[8px\] {
  margin-top: 8px;
}

.eli-mt-\[120px\] {
  margin-top: 120px;
}

.eli-ml-\[10px\] {
  margin-left: 10px;
}

.eli-ml-\[12px\] {
  margin-left: 12px;
}

.eli-ml-\[16px\] {
  margin-left: 16px;
}

.eli-ml-\[30px\] {
  margin-left: 200px;
}

.eli-mr-\[12px\] {
  margin-right: 12px;
}

.eli-mb-\[8px\] {
  margin-bottom: 8px;
}

.eli-px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.eli-border-\[1px\] {
  border-width: 1px;
}

.eli-border-solid {
  border-style: solid;
}

.eli-rounded-\[10px\] {
  border-radius: 10px;
}

.eli-tl-rounded-\[10px\] {
  border-top-left-radius: 10px;
}

.eli-tr-rounded-\[10px\] {
  border-top-right-radius: 10px;
}

.eli-border-\[\#e5e8eb\] {
  border-color: rgb(229, 232, 235);
}

.eli-p-\[4px\] {
  padding: 4px;
}

.eli-p-\[8px\] {
  padding: 8px;
}

.eli-p-\[16px\] {
  padding: 16px;
}

.eli-clip-path-circle {
  clip-path: circle();
}

.eli-box-sizing-border-box {
  box-sizing: border-box;
}

.eli-overflow-hidden {
  overflow: hidden;
}

.test {
  padding-left: 20px;
}